@import '~antd/dist/antd.css';

.ant-layout-content {
	height: calc(100vh - 133px);
}
.login-form {
	max-width: 300px;
	margin: 20% auto;
}
.login-form-forgot {
	float: right;
}
.login-form-button {
	width: 100%;
}
.logo {
	color: white !important;
}
.has-margin-1 {
	margin-top: 10px;
}

.register-form {
	max-width: 500px;
	margin: 10% auto;
}
