@charset "UTF-8";
@import "../node_modules/bulma/css/bulma.min.css";

.is-half-width {
    width: 50%;
}

.is-bottom-2 {
    margin-bottom: 20px;
}

.is-i-bottom-2 {
    margin-bottom: 20px !important;
}

.isBG {
    background: #1c92d2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f2fcfe, #1c92d2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f2fcfe, #1c92d2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.has-margin-right {
    margin-right: 10px
}